<!-- <div>This is the store view.</div> -->
<!--Pattern HTML-->
<navbar></navbar>

  <div id="pattern" class="pattern">
  	<ul class="g" ng-repeat="item in store.items">
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="product/{{item._id}}"><img ng-src={{item.image}} alt="Camp Stove" /></a></li>

			<!-- <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/AlwIBbFJaX8/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/rNCnhO8XCeQ/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/kBzK6o53BCc/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/0JFveX0c778/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/BvqCLtG9msc/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/Ts0830UlVOM/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/8qDTh2VuY2E/300x300" alt="Product Name" /></a></li>


			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/otycVjmqAtM/300x300" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/dPzqzWI6AO8/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/Ts0830UlVOM/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/eqvj5r8nbH8/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/uu5PfAzu0s4/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/KwnMOxpHLE4/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/uu5PfAzu0s4/300x300" alt="Product Name" /></a></li>
			
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/eqvj5r8nbH8/300x300" alt="Product Name" /></a></li>

			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/3J778yWKb2w/300x300" alt="Product Name" /></a></li>
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/eqvj5r8nbH8/300x300" alt="Product Name" /></a></li>
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/eqvj5r8nbH8/300x300" alt="Product Name" /></a></li>
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="https://source.unsplash.com/eqvj5r8nbH8/300x300" alt="Product Name" /></a></li> -->
		</ul>
        <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="item in store.items">
        <li><a href="/:id" tooltip="{{item.name}}">{{item.name}}<!-- <button type="button" class="close" ng-click="main.deleteItem(item)">&times;</button></a> --></li>
      </ul>
    </div>
    
	</div>


